.columns {
    max-width: 1024px;
}

.columns>div {
    display: flex;
    flex-direction: column;
}

.columns>div>div:nth-child(1) {
    max-width: 260px;
    align-self: baseline;
    padding: 0 7.5px;
    min-width: 286px;
}

.columns>div>div:nth-child(2) {
    align-self: flex-start;
}

.columns .side-rail-item {
    border: .7px solid black;
    border-radius: 3px;
    padding: 0 19px;
    margin-bottom: 62px;
}

.columns .side-rail-item ul {
    padding: unset;
    font-family: MillerDisplay, sans-serif;
    font-size: 14px;
    padding-bottom: 7px;
    font-weight: lighter;
    list-style: none;
}

.columns .side-rail-item:has(h2):has(#nutrition-information) ul {
    list-style: none;
}

#nutrition-information {
    font-size: 24px;
}

.columns ul.ingredients-purchase>li>div>p {
    font-size: 12px;
    font-family: whitneyssm-book-web, sans-serif;
    line-height: 12px;
}

.columns .side-rail-item:has(h2):has(#nutrition-information) p {
    font-size: 12px;
}

.columns ul.ingredients-purchase>li {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    width: 100%;
    justify-content: space-between;
}

.columns div:has(h2):has(#directions) ol>li {
    font-size: 14px;
    list-style-position: outside;
    padding: 0;
    padding-left: 20px;
}

.columns .side-rail-item:has(h2):has(#ingredients) ul>li {
    font-family: MillerDisplay, sans-serif;
    font-size: 14px;
    padding-bottom: 7px;
    font-weight: lighter;
    list-style: none;
}

.columns .side-rail-item:has(h2):has(#nutrition-information) ul>li:nth-child(odd) {
    font-size: 12px;
    font-weight: 700;
    float: left;
    height: 20px;
    margin: 0 10px 10px 0;
    width: 50%;
}

.columns .side-rail-item:has(h2):has(#nutrition-information) ul>li:nth-child(even) {
    font-size: 12px;
    text-align: right;
    height: 20px;
    margin: 0 10px 10px;
    border-bottom: .5px solid #eee;
}

.columns img {
    width: 100%;
}

.columns ul.ingredients-purchase>li>div:nth-child(2) {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 26px;
}

.columns ul.ingredients-purchase>li img {
    width: 70px;
}

.columns ul.ingredients-purchase {
  list-style: none;
  padding: 0;
}

.columns .add-to-cart-trigger {
    align-items: center;
    background: #fff;
    border: 2px solid #ce3f24;
    border-radius: 16px;
    color: #ce3f24;
    display: flex;
    font-size: 14px;
    height: 30px;
    justify-content: center;
    width: 30px;
    margin-right: 0;
    align-self: center;
}

.columns .add-to-cart-trigger::after {
    content: "+";
    font-size: 24px;
}

@media (min-width: 900px) {
    .columns>div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columns>div>div {
        flex: 1;
        margin-left: 32px;
    }

    .columns>div>div:first-of-type {
        margin-left: unset;
    }
}